<template name="factions">
  {{#if Template.subscriptionsReady}}
    <div class="panel panel-default">
      <table class="table table-hover table-bordered">
        <thead>
          <tr>
            <th>Player</th>
            <th>Support</th>
            <th>Credits</th>
            <th>Population</th>
            <th>Colonies</th>
            <th>Goods</th>
            <th>Loans</th>
          </tr>
        </thead>
        <tbody>
          {{#each factions}}
            <tr>
              <td>{{this.getUsername}}</td>
              <td>{{support}}</td>
              <td>{{credits}}</td>
              <td>{{population}}</td>
              <td>{{colonies}}</td>
              <td>{{goods}}</td>
              <td>{{loans}}</td>
            </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
  {{else}}
    {{>loading}}
  {{/if}}
</template>
