<template name="gameInput">
  {{#if Template.subscriptionsReady}}
    <div class="panel panel-default">
      <div class="panel-body">
        <span class="btn-group">
          {{#if game.checkWaiting}}
            {{#if faction.ready}} <span class="btn btn-danger btn-unready">Unready</span>
            {{else}} <span class="btn btn-success btn-ready">Ready</span> {{/if}}
          {{/if}}
        </span>
      </div>
    </div>
  {{else}}
    {{>loading}}
  {{/if}}
</template>
