<template name="gameSummary">
  {{#if Template.subscriptionsReady}}
    <table class="table table-hover table-bordered">
      <thead>
        <tr>
          <th>Status</th>
          <th>Round</th>
          <th>Phase</th>
        </tr>
      </thead>
      <tbody>
          <tr>
            <td>{{game.status}}</td>
            <td>{{game.round}}</td>
            <td>{{game.phase}}</td>
          </tr>
      </tbody>
    </table>
  {{else}}
    {{>loading}}
  {{/if}}
</template>
