<template name="game">
  <div class="page-header">
    <h1>
      {{game.name}}
      {{#if currentUser}}
      <span class="btn-group">
        {{#if game.checkReady}} <span class="btn btn-success btn-start">Start</span>
        {{else}} {{#unless game.getMyFaction}} <span class="btn btn-primary btn-join">Join</span> {{/unless}} {{/if}}
      </span>
      {{/if}}
    </h1>
  </div>
  {{>gameSummary game=game}}
  {{#if game.getMyFaction}} {{>gameInput game=game faction=game.getMyFaction}} {{/if}}
  {{>factions factions=game.getFactions}}
</template>
