<template name="home">
  {{#if Template.subscriptionsReady}}
    <table class="table table-hover">  
      <thead>
        <tr>
          <th>name</th><th>players</th>
        </tr>
      </thead>
      <tbody>
        {{#each getGames}}
          <tr>
            <td>
              <a href="{{pathFor 'game' gameName=this.name}}">{{this.name}}</a>
            </td>
            <td>
              {{this.countFactions}}
            </td>
          </tr>
        {{/each}}
      </tbody>
    </table>
    {{#if currentUser}}
      <form class="create-game-form">
        <div class="input-group">
          <span class="input-group-btn">
            <button type="submit" class="btn btn-default">Create Game</button>
          </span>
          <input type="text" class="form-control" name="game-name">
        </div>
      </form> 
    {{/if}}
  {{else}}
    {{>loading}}
  {{/if}}
</template>
